h1= title
form(name="input",action="login",method="post")
    | Username:
    input(type="text",name="user[name]")
    br
    | Password:
    input(type="password",name="user[password]")
    br
    input(type="submit",value="Login")
div
    h2= user.name
    h2= user.password
