h1= title
h2 Sign In

form(name="input",action="/authenticate",method="post")
    | Username:
    input(type="text",name="user[username]")
    br
    | Password:
    input(type="password",name="user[password]")
    br
    input(type="submit",value="Sign In")

p Don't have an account?  
    a(href="/signup")
        | Create one here.

if error != ""
    p1= error
