h1= title
form(name="input",action="/authenticate",method="post")
    | Username:
    input(type="text",name="user[username]")
    br
    | Password:
    input(type="password",name="user[password]")
    br
    input(type="submit",value="Login")
if error != ""
    p1= error
